body {
  background-color: dodgerblue;
}

h2 {
  color: dodgerblue;
  padding: 5px;
  float: left;
}

#map-container {
  width: 500px;
  height: 500px;
  background-color: white;
  display: inline-block;
}

#favourites-container {
  width: 300px;
  height: 500px;
  background-color: lightblue;
  display: inline-block;
}

#location-display {
  display: inline-block;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item {
  margin: auto;
}

table, tr, td {
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

thead {
  font-weight: bold;
}

td {
  padding: 5px;
}

table {
  border-collapse: collapse;
  border-width: 3px;
  margin: 5px;
}
